<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvantGardeRV"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Core Activities -->
        <activity android:name=".ScannerActivity" android:label="Scan VIN" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".InventoryListActivity" android:label="RV Inventory"/>
        <activity android:name=".RVDetailActivity" android:label="RV Details"/>
        <activity android:name=".AddEditRVActivity" android:label="Add/Edit RV"/>

        <!-- Feature Activities -->
        <activity android:name=".InspectionDetailActivity" android:label="Inspection Details"/>
        <activity android:name=".WorkOrderDetailActivity" android:label="Work Order Details"/>
        <activity android:name=".ServiceAppointmentActivity" android:label="Service Appointment"/>
        <activity android:name=".PartsListActivity" android:label="Parts Inventory"/>
        <activity android:name=".PartDetailActivity" android:label="Part Details"/>
        <activity android:name=".ClientListActivity" android:label="Clients"/>
        <activity android:name=".ClientDetailActivity" android:label="Client Details" android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>

        <!--
          FIX: Set the theme to a NoActionBar variant to prevent a fatal theme conflict.
          This is the critical change that stops the Add/Edit Client screen from crashing.
        -->
        <activity android:name=".AddEditClientActivity" android:label="Add/Edit Client" android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>

    </application>

</manifest>